@{
    ViewBag.Title = "Home Page";
}

<style>
    .tweets {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .tweet-block {
        margin: 20px 0;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
        border-left-color: #ce4844;
    }

    .tweet-content {
        padding: 13px 20px;
    }

    .tweet-create-time {
        padding: 4px 20px;
        color: #aaa;
        font-size: 0.5em;
    }
</style>

<div id="tweets" class="tweets">
    <div style="margin-top: 20px">
        <a href="/Home/CreateTweet">我要写新Tweet</a>
    </div>
</div>

<script>
    var tmplSrc = '<div class="tweet-block"> \
                       <div class="tweet-content">{content}</div> \
                       <div class="tweet-create-time"> \
                           <span>{createTime}</span> \
                       </div> \
                   </div>';
    var tmpl = function (tweet) {
        return tmplSrc.replace('{content}', tweet.content).replace('{createTime}', tweet.createTime);
    };
    $.getJSON('/api/services/MyTweet/MyTweet/GetTweets').done(function (result) {
        var tweets = result.result;
        if (tweets && tweets.length > 0) {
            tweets.forEach(function (tweet) {
                var html = tmpl(tweet);
                $('#tweets').append(html);
            });
        } else {
            $('#tweets').append('没数据');
        }
    });
</script>